[Desktop Entry]
Name=IBKR TWS (X11)
Comment=IBKR Trader Workstation using nested Xwayland and Openbox
Exec=powerprofilesctl launch --profile power-saver ib-tws-x11
TryExec=ib-tws-x11
Icon=ib-tws
Terminal=false
Type=Application
Categories=Office;Finance;
